In [101]:
import pandas as pd
import numpy as np
import re

In [102]:
data = pd.read_csv('E:/Datascience/Datasets/Health_Insurance_Prediction/train_Df64byy.csv')

In [103]:
data.head(10)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0
5,6,C9,1785,Rented,Individual,52,52,No,X2,5.0,1.0,22,15264.0,1
6,7,C3,679,Owned,Individual,28,28,No,NaN,NaN,NaN,17,10640.0,0
7,8,C1,3175,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
8,9,C15,3497,Owned,Joint,52,43,No,X1,14.0,3.0,1,27283.2,0
9,10,C1,530,Owned,Joint,59,26,Yes,NaN,7.0,4.0,18,21100.8,1

In [104]:
data['City_Code'].unique()

array(['C3', 'C5', 'C24', 'C8', 'C9', 'C1', 'C15', 'C28', 'C27', 'C7',
       'C20', 'C25', 'C4', 'C2', 'C34', 'C10', 'C17', 'C18', 'C16', 'C29',
       'C33', 'C26', 'C19', 'C6', 'C12', 'C13', 'C11', 'C14', 'C22',
       'C23', 'C21', 'C36', 'C32', 'C30', 'C35', 'C31'], dtype=object)

In [105]:
data.isnull().sum()

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [106]:
data['Health Indicator'] = data['Health Indicator'].fillna(data['Health Indicator'].mode()[0])
data['Holding_Policy_Duration'] = data['Holding_Policy_Duration'].fillna(data['Holding_Policy_Duration'].mode()[0])
data['Holding_Policy_Type'] = data['Holding_Policy_Type'].fillna(data['Holding_Policy_Type'].mode()[0])

In [116]:
data.head()

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,0,36,36,0,1,14,3.0,22,11628.0,0
1,0,1,75,22,0,2,1,3.0,22,30510.0,0
2,0,0,32,32,0,1,1,1.0,19,7450.0,1
3,0,1,52,48,0,1,14,3.0,19,17780.0,0
4,1,0,44,44,0,2,3,1.0,16,10404.0,0

In [111]:
data = data.drop(['ID','City_Code','Region_Code'], axis=1)

In [113]:
for i in range(0,len(data['Holding_Policy_Duration'])):
    data['Holding_Policy_Duration'][i] = re.sub('[^1-9]',' ',data['Holding_Policy_Duration'][i])

<ipython-input-113-6f200210872c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Holding_Policy_Duration'][i] = re.sub('[^1-9]',' ',data['Holding_Policy_Duration'][i])

In [115]:
for i in range(0,len(data['Health Indicator'])):
    data['Health Indicator'][i] = re.sub('[^1-9]',' ',data['Health Indicator'][i])

<ipython-input-115-190837698106>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Health Indicator'][i] = re.sub('[^1-9]',' ',data['Health Indicator'][i])

In [59]:
data['Accomodation_Type'].unique()

array(['Rented', 'Owned'], dtype=object)

In [60]:
data['Reco_Insurance_Type'].unique()

array(['Individual', 'Joint'], dtype=object)

In [108]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [109]:
data['Accomodation_Type']=le.fit_transform(data['Accomodation_Type'])
data['Reco_Insurance_Type']=le.fit_transform(data['Reco_Insurance_Type'])
data['Is_Spouse']=le.fit_transform(data['Is_Spouse'])

In [117]:
data.head()

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,0,36,36,0,1,14,3.0,22,11628.0,0
1,0,1,75,22,0,2,1,3.0,22,30510.0,0
2,0,0,32,32,0,1,1,1.0,19,7450.0,1
3,0,1,52,48,0,1,14,3.0,19,17780.0,0
4,1,0,44,44,0,2,3,1.0,16,10404.0,0

In [118]:
test.head()

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,0,0,30,30,0,1,6,3.0,5,11934.0
1,0,1,69,68,1,1,3,3.0,18,32204.8
2,1,0,28,28,0,3,2,4.0,17,9240.0
3,1,0,23,23,0,3,3,3.0,18,9086.0
4,0,0,75,75,0,3,14,3.0,5,22534.0

In [98]:
for i in range(0,len(test['Holding_Policy_Duration'])):
    test['Holding_Policy_Duration'][i] = re.sub('[^1-9]',' ',test['Holding_Policy_Duration'][i])

<ipython-input-98-c19601967fe1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Holding_Policy_Duration'][i] = re.sub('[^1-9]',' ',test['Holding_Policy_Duration'][i])

In [122]:
test['Health Indicator'].unique()

array([1, 3, 2, 5, 4, 7, 6, 9, 8])

In [123]:
test['Holding_Policy_Duration'].unique()

array(['6  ', '3  ', '2  ', '14 ', '5  ', '1  ', '4  ', '12  ', '11  ',
       '7  ', '9  ', '13  ', '8  ', '14  ', '1   '], dtype=object)

In [124]:
x.shape

(50882, 10)

In [125]:
test.shape

(21805, 10)

In [126]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [130]:
from sklearn.svm import SVC
svm=SVC()

In [131]:
svm.fit(x, y)

SVC()

In [80]:
test = pd.read_csv('E:/Datascience/Datasets/Health_Insurance_Prediction/test_YCcRUnU.csv')

In [81]:
test = test.drop(['ID','City_Code','Region_Code'], axis=1)

In [82]:
test.isnull().sum()

Accomodation_Type             0
Reco_Insurance_Type           0
Upper_Age                     0
Lower_Age                     0
Is_Spouse                     0
Health Indicator           5027
Holding_Policy_Duration    8603
Holding_Policy_Type        8603
Reco_Policy_Cat               0
Reco_Policy_Premium           0
dtype: int64

In [83]:
test['Health Indicator'] = test['Health Indicator'].fillna(test['Health Indicator'].mode()[0])
test['Holding_Policy_Duration'] = test['Holding_Policy_Duration'].fillna(test['Holding_Policy_Duration'].mode()[0])
test['Holding_Policy_Type'] = test['Holding_Policy_Type'].fillna(test['Holding_Policy_Type'].mode()[0])

In [158]:
test.head()

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,0,0,30,30,0,0,0,0,5,11934.0
1,0,1,69,68,1,0,0,0,18,32204.8
2,1,0,28,28,0,1,1,1,17,9240.0
3,1,0,23,23,0,1,1,1,18,9086.0
4,0,0,75,75,0,0,0,0,5,22534.0

In [84]:
test['Accomodation_Type']=le.fit_transform(test['Accomodation_Type'])
test['Reco_Insurance_Type']=le.fit_transform(test['Reco_Insurance_Type'])
test['Is_Spouse']=le.fit_transform(test['Is_Spouse'])

In [133]:
test.shape

(21805, 10)

In [134]:
ypred=svm.predict(test)

In [147]:
ypred.reshape(-1,1)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [135]:
praveen= pd.read_csv('E:/Datascience/Datasets/Health_Insurance_Prediction/test_YCcRUnU.csv')

In [136]:
z=praveen['ID']

In [137]:
ans=pd.concat([z, pd.DataFrame(ypred)], axis=1)

In [138]:
ans.columns=['ID','Response']

In [139]:
ans.to_csv("solution.csv",index=False)

In [141]:
solution=pd.read_csv('E:/Datascience/Datasets/solution.csv')

In [144]:
solution[solution['Response']==0]

          ID  Response
0      50883         0
1      50884         0
2      50885         0
3      50886         0
4      50887         0
...      ...       ...
21800  72683         0
21801  72684         0
21802  72685         0
21803  72686         0
21804  72687         0

[21805 rows x 2 columns]